<div id="Footer">
           <div class="aboutKad">
                <p>
                   <a target="_blank" href="/abutus/" rel="nofollow">关于康爱多网上药店</a>|
                   <a target="_blank" href="/Recruitment/Index.aspx" rel="nofollow">加入康爱多</a>|
                   <a target="_blank" rel="nofollow" href="/aboutus/1469.shtml">经营认证</a>|
                   <a target="_blank" href="/FriendSite/" rel="nofollow">友情链接</a>|
                   <a target="_blank" href="/TagList.aspx">TAG列表</a>|
                   <a href="/Medication/">用药问答</a>|
                   <a target="_blank" href="/SiteMap.shtml">网站地图</a>|
                   <a rel="nofollow" target="_blank" href="http://www.360kad.com/zhuanti/kad_zsyd.shtml">康爱多掌上药店</a>
                </p>
           </div>
           <!----- 华丽的模块分割线 ---->
           <div class="bottomMain">
               <div class="bottomLeft">
                  <p><a href="http://www.360kad.com/aboutus/14788.shtml" target="_blank" rel="nofollow" title="互联网药品交易服务资格证书">互联网药品交易服务资格证书</a>
                         <span class="bottomPadding01">
                             <a href="http://www.360kad.com/aboutus/14784.shtml" target="_blank" rel="nofollow" title="互联网药品信息服务资格证书">互联网药品信息服务资格证书</a>
                         </span>
                         <span class="bottomPadding01">
                              <a href="http://www.360kad.com/aboutus/14785.shtml" target="_blank" rel="nofollow" title="执业药师证">执业药师证</a>
                         </span>
                  </p>
                  <p>
                     <span class="bottomPadding02">
                          <a href="http://www.360kad.com/aboutus/14781.shtml" target="_blank" rel="nofollow" title="药品经营许可证">药品经营许可证</a>
                     </span>
                     <span class="bottomPadding02">
                          <a href="http://www.360kad.com/aboutus/14782.shtml" target="_blank" rel="nofollow" title="食品流通许可证">食品流通许可证</a>
                     </span>
                     <span class="bottomPadding02">
                          <a href="http://www.360kad.com/aboutus/14783.shtml" target="_blank" rel="nofollow" title="公司营业执照">公司营业执照</a>
                     </span>
                     <span>
                          <a href="http://www.360kad.com/aboutus/14780.shtml" target="_blank" rel="nofollow" title="GSP认证证书">GSP认证证书</a>
                     </span>
                 </p>
             </div>

             <div class="bottomRight">
                 <p>
                    <a href="http://www.miibeian.gov.cn/" rel="nofollow">粤ICP备10212320号</a>
                    &copy;2010-2015
                    <a href="http://www.360kad.com">康爱多网上药店</a>
                    版权所有，并保留所有权利
                 </p>
                 <ul class="bottomRightIcon">
                    <li class="bottomIconPos3"><a title="经营性网站备案信息" target="_blank" href="http://www.miibeian.gov.cn/" rel="nofollow"><img alt="经营性网站备案信息" src="http://skin.360kad.com/skin/img/indexBottomIcon03.gif"></a>
                    </li>
                    <li class="bottomIconPos2"><a href="http://210.76.65.188/newwebsite/main.jsp?id=4401&amp;adir=&amp;wy=1" target="_blank" title="网络110报警服务" rel="nofollow"><img alt="网络110报警服务" src="http://skin.360kad.com/skin/img/indexBottomIcon02.gif"></a>
                    </li>
                    <li class="bottomWidth01"><a href="http://210.76.65.188/newwebsite/main.jsp?id=4401&amp;adir=&amp;wy=1" target="_blank" title="网络110报警服务" rel="nofollow"><p>网络110</p><p>报警服务</p></a>
                    </li>
                    <li class="bottomIconPos3"><a title="健康速递隐私配送" target="_blank" href="http://www.360kad.com/help/132.shtml" rel="nofollow"><img alt="健康速递隐私配送" src="http://skin.360kad.com/skin/img/indexBottomIcon05.png"></a>
                    </li>
                    <li class="bottomWidth01"><a href="http://www.360kad.com/help/132.shtml" target="_blank" title="健康速递隐私配送" rel="nofollow"><p>健康速递</p><p>隐私配送</p></a>
                    </li>
                </ul>
           </div>


      </div>
      <!----- 华丽的模块分割线 ---->
      </div>
<a id="scrollUp" href="#top" title="" style="position: fixed; z-index: 2147483647; display: block;"></a>
<div class="usercard" id="usercard"></div>
<script type="text/javascript" src="{SITE_URL}js/jquery-ui/jquery-ui.js"></script>
<script type="text/javascript" src="{SITE_URL}js/jquery.scrollup.js"></script>
<script type="text/javascript" src="{SITE_URL}js/common.js"></script>
<script type="text/javascript">
                $.scrollUp({
                scrollName: 'scrollUp', // Element ID
                topDistance: '260', // Distance from top before showing element (px)
                topSpeed: 300, // Speed back to top (ms)
                animation: 'fade', // Fade, slide, none
                animationInSpeed: 200, // Animation in speed (ms)
                animationOutSpeed: 200, // Animation out speed (ms)
                scrollText: '', // Text for element
                activeOverlay: false  // Set CSS color to display scrollUp active point, e.g '#00FFFF'
            });
</script>
</body>
</html>