<!--{template header}-->
<!--{eval $adlist = $this->fromcache("adlist");}-->
<!--{eval $statistics=$this->fromcache('statistics');}-->
<!--{eval $onlineusernum=$this->fromcache('onlineusernum');}-->
<div class="nav-line">
    <div class="icon_count"/></div><span>已解决问题：{$statistics['solves']}</span><span>待解决问题：{$statistics['nosolves']}</span><span>当前在线：{$onlineusernum[0]}人</span>
<div id="scoll-note">
    <ul>
        <!--{eval $notelist=$this->fromcache('notelist');}-->
        <!--{loop $notelist $nindex $note}-->
        <!--{eval $nindex++}-->
        <!--{if $nindex<=3}-->
        <li><a target="_blank" title="{$note['title']}" {if $note['url']}href="{$note['url']}"{else}href="{url note/view/$note['id']}"{/if}>{eval echo cutstr({$note['title']},40,'');}</a><span>( {eval echo cutstr($note['format_time'],10,'')} )</span></li>
        <!--{/if}-->
        <!--{/loop}-->
    </ul>
</div>
</div>
<div class="wrapper clearfix">
    <div class="aside">
        <div class="modbox mt10">
            <h3 class="title">问题分类</h3>
            <div class="category-nav">
                <!--{eval $categorylist=$this->fromcache('categorylist');}-->
                <!--{loop $categorylist  $category1}-->
                <div class="categorybox curr_menu">
                    <div class="cate-item">
                        <h3><a target="_blank" title="{$category1['name']}" href="{url category/view/$category1['id']}">{$category1['name']}</a></h3>
                        <p>
                            <!--{loop $category1['sublist'] $index $category2}-->
                            <!--{if $index<2}-->
                            <a href="{url category/view/$category2['id']}">{$category2['name']}</a>
                            <!--{/if}-->
                            <!--{/loop}-->
                        </p>
                    </div>
                    <ul class="subcate clearfix">
                        <!--{loop $category1['sublist'] $index $category2}-->
                        <li><a href="{url category/view/$category2['id']}">{$category2['name']}</a></li>
                        <!--{/loop}-->
                    </ul>
                </div>
                <!--{/loop}--> 
            </div>
        </div>
        <div class="modbox mt10">
            <h3 class="title">财富榜</h3>
            <div class="usertabbox">
                <a target="_blank" class="select" href="{url user/scorelist/1}" id="weektab">本周排行</a>
                <a target="_blank" class="not-selected" href="{url user/scorelist/0}" id="alltab">总排行</a>
            </div>
            <ul class="right-list" id="weektop">
                <!--{eval $weekuserlist=$this->fromcache('weekuserlist');}-->
                <!--{loop $weekuserlist $index $weekuser}-->
                <!--{eval $index++;}-->
                <li>
                    <!--{if $index<4}-->
                    <em class="n1">{$index}</em>
                    <!--{else}-->
                    <em class="n2">{$index}</em>
                    <!--{/if}-->
                    <a href="{url user/space/$weekuser['uid']}" target="_blank" onmouseover="pop_user_on(this, '{$weekuser[uid]}', 'text');"  onmouseout="pop_user_out();">{$weekuser['username']}</a>
                    <span class="credit">{$weekuser['credit2']}</span>
                </li>
                <!--{/loop}-->
            </ul>
            <ul class="right-list" id="alltop" style="display: none;">
                <!--{eval $weekuserlist=$this->fromcache('alluserlist');}-->
                <!--{loop $weekuserlist $index $alluser}-->
                <!--{eval $index++;}-->
                <li>
                    <!--{if $index<4}-->
                    <em class="n1">{$index}</em>
                    <!--{else}-->
                    <em class="n2">{$index}</em>
                    <!--{/if}-->
                    <a href="{url user/space/$alluser['uid']}" target="_blank" onmouseover="pop_user_on(this, '{$alluser[uid]}', 'text');"  onmouseout="pop_user_out();">{$alluser['username']}</a>
                    <span class="credit">{$alluser['credit2']}</span>
                </li>
                <!--{/loop}-->
            </ul>
        </div>
        <div class="modbox mt10">
            <h3 class="title">网站帮助</h3>
            <ul class="Hhelp">
                <li><a href="#">如何使用提问功能</a></li>
                <li><a href="#">问题何时有回复</a></li>
                <li><a href="#">未获满意回复怎办</a></li>
                <li><a href="#">如何感谢医生的回答</a></li>
                <li><a href="#">为什么问题会过期</a></li>
                <li><a href="#">如何成为网站医生</a></li>
                <li><a href="#">医生如何回答问题</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="main">
            <!--{eval $topiclist=$this->fromcache('topiclist');}-->
            <!--{if $topiclist}-->
            <div class="focusbox mt10">
                <div class="slidermod" >
                    <div class="slider-box clearfix">

                        <!--{loop $topiclist $index $topic}-->
                        <div class="topic" id="{$topic['id']}" <!--{if $index!=0}-->style="display:none"<!--{/if}-->>
                             <img width="228" height="170" src="{SITE_URL}{$topic['image']}"/>
                            <h4>{eval echo cutstr($topic['title'],14,'');}</h4>
                            <p>{eval echo cutstr($topic['describtion'],60,'');}</p>
                            <ul class="list">
                                <!--{loop $topic['questionlist'] $question}-->
                                <li><a  title="{$question['title']}" target="_blank" href="{url question/view/$question['id']}">{eval echo cutstr($question['title'],26,'');}</a> </li>
                                <!--{/loop}--> 
                            </ul>
                        </div>
                        <!--{/loop}-->
                        <div class="clr"></div>
                        <ul class="pagination">
                            <!--{loop $topiclist $index $topic}-->
                            <li <!--{if $index==0}-->class="spanhover"<!--{/if}--> topicid="{$topic['id']}"><span>{eval echo cutstr($topic['title'],14,'');}</span></li>
                            <!--{/loop}-->
                        </ul>
                        <div class="more"><a href="{url topic/default}" target="_blank">更多</a></div>
                    </div>
                </div>
            </div>
            <!--{/if}-->
            <!--广告位1-->
            <!--{if (isset($adlist['index']['middle1']) && trim($adlist['index']['middle1']))}-->
            <div class="question-mod mt10">{$adlist['index']['middle1']}</div>
            <!--{/if}-->
            <!-- 待解决 -->
               <div class="HCenBox mt10" >
                            <h3 class="title">咨询在线医生</h3>
                            <div class="tab_menu">
                                <ul>
                                    <li class="selected">内科</li>
                                    <li>外科</li>
                                    <li>妇产科</li>
                                    <li>儿科</li>
                                    <li>五官科</li>
                                    <li style="display: none;">传染病科</li>
                                    <li style="display: none;">中医科</li>
                                    <li style="display: none;">精神心理科</li>
                                    <li class="more"></li>
                                </ul>
                            </div>
                            <div class="tab_box clearfix">
                                 <div>
                                      <ol>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘大勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘大勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘大勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘大勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                      </ol>
                                 </div>

                                 <div style="display:none;">
                                      <ol>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘二勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘二勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘二勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘二勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                      </ol>
                                 </div>
                                 <div style="display:none;">
                                      <ol>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘三勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘三勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘三勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                          <li>
                                             <a href="#"><img alt="" src="img/1.jpg"></a>
                                             <strong><a href="http://my.39.net/lly0806">刘三勇</a>主治医师</strong>
                                             <cite class="online">在线</cite>
                                             <span><input type="button" value="向TA求助" class="button_4" onClick="javascript:document.location = 'http://ask.360kad.com/question/add/1.html'"></span>
                                          </li>
                                      </ol>
                                 </div>

                            </div>
                </div>
                
                <div class="HCenBox mt10">
                           <h3 class="title">待解决问题</h3>
                            <div class="tab_menu">
                                <ul>
                                    <li class="selected">内科</li>
                                    <li>外科</li>
                                    <li>妇产科</li>
                                    <li>儿科</li>
                                    <li>五官科</li>
                                    <li style="display: none;">传染病科</li>
                                    <li style="display: none;">中医科</li>
                                    <li style="display: none;">精神心理科</li>
                                    <li class="more"></li>
                                </ul>
                            </div>
                            <div class="tab_box clearfix">
                                 <div>
                                      <ul class="WTlist">
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[外科其他]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                      </ul>
                                 </div>
                            </div>
                </div>
                
                <div class="HCenBox mt10">
                           <h3 class="title">高分悬赏问题</h3>
                            <div class="tab_menu">
                                <ul>
                                    <li class="selected">内科</li>
                                    <li>外科</li>
                                    <li>妇产科</li>
                                    <li>儿科</li>
                                    <li>五官科</li>
                                    <li style="display: none;">传染病科</li>
                                    <li style="display: none;">中医科</li>
                                    <li style="display: none;">精神心理科</li>
                                    <li class="more"></li>
                                </ul>
                            </div>
                            <div class="tab_box clearfix">
                                 <div>
                                      <ul class="WTlist">
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>10</b><a href="#" class="tit">[外科其他]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a> </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>5</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>18</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                      </ul>
                                 </div>
                                 <div style="display:none;">
                                      <ul class="WTlist">
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[妇科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>10</b><a href="#" class="tit">[外科其他]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a> </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>5</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>20</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><b>18</b><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                      </ul>
                                 </div>
                            </div>
                </div>
                
                <div class="HCenBox mt10">
                           <h3 class="title">最新已解决</h3>
                            <div class="tab_menu">
                                <ul>
                                    <li class="selected">内科</li>
                                    <li>外科</li>
                                    <li>妇产科</li>
                                    <li>儿科</li>
                                    <li>五官科</li>
                                    <li style="display: none;">传染病科</li>
                                    <li style="display: none;">中医科</li>
                                    <li style="display: none;">精神心理科</li>
                                    <li class="more"></li>
                                </ul>
                            </div>
                            <div class="tab_box clearfix">
                                 <div>
                                      <ul class="WTlist">
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[外科其他]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                          <li><span>2014-03-11</span><a href="#" class="tit">[男科]</a><a href="#">精子成活率很低请问需要怎么治疗？吃... </a>        </li>
                                      </ul>
                                 </div>
                            </div>
                </div>
            <!--广告位3-->
            <!--{if (isset($adlist['index']['middle3']) && trim($adlist['index']['middle3']))}-->
            <div class="question-mod mt10">{$adlist['index']['middle3']}</div>
            <!--{/if}-->
        </div>
        <div class="side">
            <!--{if $user['uid']}-->
            <div class="modbox mt10">
                <div class="userinfo-box">
                    <div class="userinfo clearfix">
                        <a target="_blank" href="{url user/default}" class="pic"><img width="50" height="50" src="{$user['avatar']}"></a>
                        <h3><a target="_blank" href="{url user/default}">{$user['username']}</a></h3>
                        <p>{$user['grouptitle']}</p>
                        <p>财富:{$user['credit2']}<span>经验:{$user['credit1']}</span></p>
                    </div>
                </div>
            </div>
            <!--{/if}-->
            <div class="modbox mt10">
                <div class="title">推荐专家</div>
                <ul class="left-expert-list">
                    <!--{eval $expertlist=$this->fromcache('expertlist');}-->
                    <!--{loop $expertlist $expert}-->
                    <li>
                        <div class="pic"><a title="{$expert['name']}" target="_blank" href="{url user/space/$expert['uid']}"><img width="50" height="50" alt="{$expert['username']}" src="{$expert['avatar']}"  onmouseover="pop_user_on(this, '{$expert[uid]}', '');"  onmouseout="pop_user_out();"/></a></div>
                        <h3><a title="{$expert['name']}" target="_blank" href="{url user/space/$expert['uid']}" onmouseover="pop_user_on(this, '{$expert[uid]}', 'text');"  onmouseout="pop_user_out();">{$expert['username']}</a></h3>
                        <span>{$expert['answers']}回答</span>
                        <span>{$expert['supports']}赞同</span>
                        <input type="button" value="向TA求助" class="button_4" onclick="javascript:document.location = '{url question/add/$expert['uid']}'">
                    </li>
                    <!--{/loop}-->
                </ul>
            </div>

            <!--广告位4-->
            <!--{if (isset($adlist['index']['right1']) && trim($adlist['index']['right1']))}-->
            <div>{$adlist['index']['right1']}</div>
            <!--{/if}-->
            <div class="modbox mt10">
                <h3 class="title">热门标签</h3>
                <div class="hot-tags">
                    <!--{eval $taglist=$this->fromcache('hosttaglist');}-->
                    <!--{loop $taglist $tag}-->
                    <a target="_blank" title="$tag['name']" href="{url question/search/tag:$tag['name']}">{$tag['name']}</a>
                    <!--{/loop}-->
                </div>
            </div>
            <!-- 关注问题排行榜 -->
            <div class="modbox mt10">
                <div class="title">一周热点问题</div>
                <ul class="right-list">
                    <!--{eval $attentionlist=$this->fromcache('attentionlist');}-->
                    <!--{loop $attentionlist $index $question}-->
                    <!--{eval $index++;}-->
                    <li>
                        <!--{if $index<4}-->
                        <em class="n1">{$index}</em>
                        <!--{else}-->
                        <em class="n2">{$index}</em>
                        <!--{/if}-->
                        <a  title="{$question['title']}" target="_blank" href="{url question/view/$question['id']}">{eval echo cutstr($question['title'],40,'');}</a>
                    </li>
                    <!--{/loop}-->
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="wrapper mt30 clearfix">
    <div class="HomeF">
        <div class="HomeTit">为什么选择康爱多问答</div>
        <dl class="HomeList clearfix">
            <dd>
                <h1 class="dh1">行医资格认证</h1>
                <p>康爱多问答每一位医生，都经过严格的资格认证，确保都有行医执业资格；</p>
            </dd>
            <dd>
                <h1 class="dh2">万名医生</h1>
                <p>来自全国各医院的万名医生，依据丰富的临床经验与专业知识在线服务患者；</p>
            </dd>
            <dd>
                <h1 class="dh3">24小时100%回复</h1>
                <p>所有患者的详细病情描述及健康知识，在24小时内保证100%得到医生专业回复；</p>
            </dd>
            <dd>
                <h1 class="dh4">名医在线问答</h1>
                <p>每周联合全国最优秀的三甲医院，进行名院名专家进行线上公益问答活动；</p>
            </dd>
            <dd class="HomeList-5">
                <h1 class="dh5">解答全免费</h1>
                <p>康爱多问答上的所有提问，在线医生问答均为免费，您安座家中即可连线名医;</p>
            </dd>
        </dl>
    </div>

    <div class="friendLink">
        <span class="flinktitle">友&nbsp;情&nbsp;链&nbsp;接</span>
        <div class="flinkcon">
            <!--{loop $linklist $link}-->
            <a target="_blank" href="{$link['url']}" title="{$link['description']}">{$link['name']}</a>
            <!--{/loop}-->
            <a target="_blank" href="http://www.yuemei.com/">悦美网</a>
            <a target="_blank" href="http://www.zhong-yao.net/">中药网</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var timer;
    $(document).ready(function() {
        $(".curr_menu").hover(function() {
            $(this).addClass("categorybox-hover");
        }, function() {
            $(this).removeClass("categorybox-hover");
        });
        //note scroll
        setInterval(function() {
            $("#scoll-note ul:first").animate({
                marginTop: "-29px"
            }, 400, function() {
                $(this).css({marginTop: "0px"}).find("li:first").appendTo(this);
            });
            $(".pagination ul:first").animate();
        }, 3000);
        //slider
        $(".pagination li").hover(function() {
            $(".pagination li[class='spanhover']").removeClass("spanhover");
            var topicid = $(this).attr("topicid");
            $(this).addClass("spanhover");
            timer = setTimeout(function() {
                $(".topic").hide();
                $("#" + topicid).show();
            }, 100);
        });
        $("#weektab").hover(function() {
            $(this).attr("class", "select");
            $("#alltab").attr("class", "not-selected");
            $("#weektop").show();
            $("#alltop").hide();
        });
        $("#alltab").hover(function() {
            $(this).attr("class", "select");
            $("#weektab").attr("class", "not-selected");
            $("#alltop").show();
            $("#weektop").hide();
        });
    });
</script>
<script type="text/javascript">
$(document).ready(function(){
/* 友情链接全部展示 */
$(".flinkcon").hover(function () { $(this).attr("class", "flinkcon hover"); }, function () { $(this).attr("class", "flinkcon"); }); 
/* tab 标签 */
     var li_num = 1;
     $(".tab_menu ul li:not(.more)").click(function(){
          $(this).addClass("selected").siblings().removeClass("selected");
          var index1 = $(this).index();
          $(this).parent().parent().siblings(".tab_box").children().eq(index1).show().siblings().hide();
          if(index1 < 5) 
               {li_num = 1;}
          else
               {li_num = 2;}
      });

$(".tab_menu ul").find("li.more").hover(function() {
   $(this).addClass("more_hover");
   $(this).siblings().show();
});

$(".tab_menu ul").mouseleave(function() {
   if (li_num == 1) {
      $(this).children("li:lt(4):not(:last)").show();
      $(this).children("li:gt(4):not(:last)").hide();
   }else{
      $(this).children("li:lt(4):not(:last)").hide();
   }
   $(this).find("li.more").removeClass("more_hover");
});

})
</script>
<!--{template footer}-->